/* =====================================
   Hero Component
===================================== */

body {
  margin: 0;
  font-family: Matter SQ, Arial, sans-serif;
}

/* Block */
.hero {
  width: 100%;
  padding: 30px;
  box-sizing: border-box;
}

.hero.non-gradient {
  .hero__container {
    background: none;
    color: #000000;
  }

  .hero__button--secondary {
    border-color: #000000;
    color: #000000;
  }
}

/* Container */
.hero__container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 56px 86px;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: center;
  column-gap: 25px;

  background: linear-gradient(90deg,
      #171717 0%,
      #171717 45%,
      #600000 100%);

  border-radius: 16px;
  color: #fff;
}

/* Content */
.hero__content {
  display: flex;
  flex-direction: column;
  gap: 24px;
  height: 100%;
  justify-content: center;
}

.hero__title {
  margin: 0;
  /*font-size: 2.7rem;*/
  font-family: 'Matter SQ', Arial, sans-serif;
  font-weight: 700;

  font-size: clamp(36px, 6vw, 45px);
  line-height: clamp(40px, 6vw, 45px);

  /*line-height: 1.1;  */
}

.hero__description {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.hero__description sup {
  font-size: 0.7em;
  vertical-align: super;
}

/* Actions */
.hero__actions {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  margin: 0;
}

.hero__button {
  padding: 19px 38px;
  border-radius: 999px;
  font-size: 16px;
  text-decoration: none;
  text-align: center;
  white-space: nowrap;
  flex-shrink: 0;

  border: 1px solid #fff;
  color: #fff;
  transition: background 0.2s ease, color 0.2s ease;
}

.hero__button_old {
  padding: 19px 38px;
  border-radius: 999px;
  font-size: 16px;
  text-decoration: none;
  text-align: center;
  border: 1px solid #fff;
  color: #fff;
  transition: background 0.2s ease, color 0.2s ease;
}

.hero__button:hover,
.hero__button:focus-visible {
  opacity: 0.9;
}

.hero__button:focus-visible {
  outline: 2px solid #fff;
  outline-offset: 3px;
}

/* Modifiers */
.hero__button--primary {
  background: #cd3434;
  border-color: #cd3434;
  color: #ffffff;
}

.hero__button--secondary {
  background: transparent;
}

/* Media */
.hero__media {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: 100%;
  max-height: 492px;
}

.hero__media img {
  display: block;
  max-width: 100%;
  max-height: 100%;
}

/* =====================================
   Mobile Styles
===================================== */
@media (max-width: 1024px) {
  .hero__container {
    padding: 32px 20px;
  }
}

@media (max-width: 768px) {
  .hero__container {
    grid-template-columns: 1fr;
    gap: 24px;
    text-align: center;
  }

  .hero {
    padding: 30px;
  }

  .hero__content {
    padding: 0;
    gap: 16px;
  }

  .hero__title {
    /*font-size: 2rem;*/
    /*font: 700 48px/48px 'MatterIGTF', sans-serif;*/
  }

  .hero__media {
    justify-content: center;
  }

  .hero__actions {
    flex-direction: column;
    align-items: center;
  }
}


/***** Recent edits *****/
.hero--40-60 {
  grid-template-columns: 4fr 6fr;
}
.hero--60-40 {
  grid-template-columns: 6fr 4fr;
}

@media (max-width: 768px) {
  .hero__container.hero--40-60, .hero__container.hero--60-40 {
    grid-template-columns: 1fr;
  }
}


.hero__list {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: left;
}

.hero__list li {
  position: relative;
  padding-left: 40px;
  margin-bottom: 14px;
  line-height: 1.4;
}

/* Circle */
.hero__list li::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0.3em;

  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid #cd3434;
}

/* Tick */
.hero__list li::after {
  content: '';
  position: absolute;
  left: 8px;
  top: 0.65em;
  width: 4px;
  height: 8px;
  border-right: 2px solid #cd3434;
  border-bottom: 2px solid #cd3434;
  transform: rotate(45deg);
}